.post{width:500px; margin: 10px auto 5px auto; font-size:12px; font-family:sans-serif; position: relative;} 
.wall{width:500px; margin: 0 auto 0 auto; font-size:12px; padding:10px; font-family:sans-serif;}p{cursor:pointer; color: blue;} 
.wall img{cursor: pointer;}
.date{position: absolute; right:-100px; font-weight: 600;}